
@page "/"

@rendermode InteractiveServer

@using Syncfusion.Blazor.Schedule
@using Syncfusion.Blazor.SplitButtons
@using TcneCalendar.Models
@using Microsoft.Extensions.Caching.Memory
@using TcneCalendar
@using System.Threading.Tasks;
@using System.Diagnostics;

@inject IConfiguration Configuration
@inject HttpClient http
@* @inject IMemoryCache MemoryCache *@
@inject ILoggerFactory LoggerFactory

@inject ILogger<Index> Logger


<PageTitle>TCNE Calendar</PageTitle>

<span class="pageheader">TCNE Calendar</span>
<br />

<div class="infoMessage">
    @Configuration["InfoMessage"]
</div>

<div class="controlregion">


    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" @onclick="NestButton"    class=" btn btn-primary" style="width:120px">Nest</button>
        <button type="button" @onclick="HideoutButton" class="btn btn-primary"  style="width:120px">Hideout</button>
        <button type="button" @onclick="AllButton"     class="btn btn-primary active"  style="width:120px">All</button>
    </div>
    <br />
    <br />

    <br />
    <SfSchedule TValue="SchedulerAppointmentData"
        Readonly = "true"
        AllowDragAndDrop="false" 
        ShowQuickInfo="true" 
        EnableAutoRowHeight="true"  
        Height="650px"
        EnableAdaptiveUI="true"
        @bind-CurrentView="@CurrentView"
        @bind-SelectedDate="@CurrentDate">

        <ScheduleViews>
            <ScheduleView Option="View.Day" ></ScheduleView>
            <ScheduleView Option="View.Week"></ScheduleView>
            <ScheduleView Option="View.Month" IsSelected="true"></ScheduleView>
        </ScheduleViews>

        <ScheduleEventSettings DataSource="@DataSource" EnableTooltip="true"></ScheduleEventSettings>

    </SfSchedule>
</div>

<style>

    .ulstyle {
        margin-top: 10px;
        margin-bottom: 20px;
        display: inline-block;
        list-style-type: none !important;
        padding-left: 0px !important;
    }

    .controlregion {
        margin-top: 50px;
    }

    .pagecontent {
        font-family: sans-serif !important;
        font-size: 16px;
        color: #333333;
        letter-spacing: 0.34px;
        line-height: 24px;
        margin-top: 10px;
    }
    

    .list {
        float: left;
        line-height: 40px;
        min-width: 280px;
        font-family: sans-serif !important;
        font-size: 19px;
        color: #0073DC;
    }

    .syncfusion-blazor-index-icons {
        font-family: "sbicons";
        color: #0073DC !important;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        padding-right: 13px;
        font-size: 18px;
    }

    .productheader {
        font-family: sans-serif !important;
        font-size: 19px !important;
        color: #333333 !important;
        letter-spacing: 0.41px ;
    }

    .pageheader {
        font-family: sans-serif !important;
        font-size: 24px !important;
        color: #333333 ;
        font-weight: bold !important;
    }


    .e-appointment.nest {
        background: lightblue;
    }

    .e-appointment.hideout {
        background: darkgreen;
    }

    .e-appointment.unknown {
        background: purple;
    }


    .nest {
        background: lightblue;
    }

    .hideout {
        background: lightgreen;
    }

    .unknown {
        background: blue;
    }


    .e-schedule .e-vertical-view .e-all-day-appointment-wrapper .e-appointment.nest,
    .e-schedule .e-vertical-view .e-day-wrapper .e-appointment.nest,
    .e-schedule .e-month-view .e-appointment.nest {
        background: green;
    }

    .e-schedule .e-vertical-view .e-all-day-appointment-wrapper .e-appointment.hideout,
    .e-schedule .e-vertical-view .e-day-wrapper .e-appointment.hideout,
    .e-schedule .e-month-view .e-appointment.hideout {
        background: blue;
    }





</style>

@code {

    public DateTime CurrentDate = DateTime.Now;

    string displayLocation = "nest";

    public async void NestButton()
    {
        Logger.LogInformation("NestButton() called");
        displayLocation = "nest";
        await RefreshDataSource();
    }

    public async void HideoutButton()
    {
        Logger.LogInformation("HideoutButton() called");
        displayLocation = "hideout";
        await RefreshDataSource();
    }

    public async void AllButton()
    {
        Logger.LogInformation("AllButton() called");
        displayLocation = "all";
        await RefreshDataSource();
    }


    public List<SchedulerAppointmentData>? DataSource;   // Scheduler Appointment Data

    View CurrentView = View.Day;


    protected async override Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }


    private async Task RefreshDataSource()
    {
        var logger = LoggerFactory.CreateLogger<AzureStorage>();
        var azureStorage = new AzureStorage(http, Configuration, logger);
        List<SchedulerAppointmentData> listAppts = await azureStorage.LoadAppointmentsAzure(displayLocation);
        DataSource = listAppts;
        StateHasChanged();  
        Debug.WriteLine("RefreshSchedule() called  listAppts.Count:  {listAppts.Count}");
        Logger.LogInformation("RefreshSchedule() called  listAppts.Count:  {listAppts.Count}");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            displayLocation = "all";

            var logger = LoggerFactory.CreateLogger<AzureStorage>();
            var azureStorage = new AzureStorage(http, Configuration, logger);
            List<SchedulerAppointmentData> listAppts = await azureStorage.UpdateStorageAccount(displayLocation);

            await RefreshDataSource();

            CurrentView = View.Month;
            StateHasChanged();
        }

        await base.OnAfterRenderAsync(firstRender);
    }
}
