@page "/mediaquery-features"
@rendermode InteractiveServer
<PageTitle>Media Query</PageTitle>
<h2>Media Query</h2>
<br/>
@if (string.IsNullOrEmpty(activeBreakpoint))
{
    <label>Loading... Please wait...</label>
}
else
{
    <i><b>Note:</b> Resize the browser to see the responsiveness of the below layout based on the media query below. </i>
    <br />
    <br />
    <div class="root-parent @activeBreakpoint.ToLower()">
        <div class="header">
            <div class="container1 child"> </div>
        </div><div class="contentarea">
            <div class="container2 child"> </div>
            <div class="container3 child"> </div>
            <div class="container4 child"> </div>
        </div>
        <div class="footer">
            <div class="container5 child"> </div>
        </div>
    </div>
}
<SfMediaQuery @bind-ActiveBreakpoint="activeBreakpoint"></SfMediaQuery>
<style>
    .root-parent {
        margin: 5px;
    }
    .header, .contentarea, .footer {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .child {
        margin: 5px;
        width: calc(100% - 10px);
    }
    .container1 {
        min-height: 40px;
        background-color: royalblue;
    }
    .container2 {
        min-height: 100px;
        background-color: yellowgreen;
    }
    .container3 {
        min-height: 350px;
        background-color: orangered;
    }
    .container4 {
        min-height: 150px;
        background-color: forestgreen;
    }
    .container5 {
        min-height: 50px;
        background-color: aquamarine;
    }
    /*Large*/
    .large .container2 {
        min-height: 350px;
        width: 150px;
    }
    .large .container4 {
        min-height: 350px;
        width: 200px;
    }
    .large .container3 {
        min-height: 350px;
        width: calc(100% - 380px);
    }
    /*Medium*/
    .medium .container3 {
        min-height: 350px;
        width: calc(100% - 220px);
    }
    .medium .container4 {
        min-height: 350px;
        width: 200px;
    }
    .small .container1 {
        min-height: 50px;
    }
    .small.container2 {
        min-height: 75px;
    }
</style>
@code {
    private string activeBreakpoint { get; set; }
}
<br/>
<div>
  <h3>Selected Features:</h3>
    <ul class="ulstyle">
      <li class="list"> Default</li>
      <li class="list"> Theme - Fluent</li>
    </ul>
</div>
<br/>
<style>
.ulstyle {
        margin: 0px;
        padding-left: 20px;
        display: inline-block;
    }
    .list {
    float: left;
    line-height: 20px;
    margin: 10px;
    min-width: 340px;
    }
</style>
