@page "/scheduler-features"
@rendermode InteractiveServer
@using Syncfusion.Blazor.Schedule
@using Syncfusion.Blazor.Calendars
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Data
@using TcneCalendar.Data
<PageTitle>Scheduler</PageTitle>
<h2>Scheduler</h2>
<br/>
<div id = "ControlRegion">
  <SfSchedule TValue="ScheduleData.AppointmentData" AllowDragAndDrop="true" ShowQuickInfo="true" EnableAutoRowHeight="true"  Height="650px" @bind-SelectedDate="@CurrentDate">
    <ScheduleEventSettings DataSource="@DataSource" EnableTooltip="true"></ScheduleEventSettings>
</SfSchedule>
                      </div>
<br/>
<div>
  <h3>Selected Features:</h3>
    <ul class="ulstyle">
      <li class="list"> Scheduler Samples - Default</li>
      <li class="list"> Allow Drag and Drop</li>
      <li class="list"> Show Tooltip</li>
      <li class="list"> Adaptive Rows</li>
      <li class="list"> Show Quick Info</li>
      <li class="list"> Theme - Fluent</li>
    </ul>
</div>
<br/>
<style>
    .ulstyle {
        margin: 0px;
        padding-left: 20px;
        display: inline-block;
    }
    .list {
    float: left;
    line-height: 20px;
    margin: 10px;
    min-width:370px;
    }
</style>
        @code{
	public DateTime CurrentDate = new DateTime(2020, 2, 12);
    List<ScheduleData.AppointmentData> DataSource = new ScheduleData().GetScheduleData();
}
